@page "/list"
@attribute [StreamRendering]
@rendermode InteractiveServer
@inject TaskService TaskService
<h3>Lista</h3>
<br />

<div class="row">
    <div>

    </div>
    <div>

    </div>
</div>

<DxGrid @ref="Grid"
        PageSize="12"
        Data="DataSource"
        KeyFieldName="Id"
        ValidationEnabled="false"
        EditMode="GridEditMode.EditCell"
        RowDoubleClick="DoubleClickHandle"
        EditModelSaving="Grid_EditModelSaving"
        DataItemDeleting="Grid_DataItemDeleting"
        CustomizeEditModel="Grid_CustomizeEditModel"
        ColumnResizeMode="GridColumnResizeMode.NextColumn"
        ShowGroupPanel="true"
        TextWrapEnabled="false"
        HighlightRowOnHover="true">

    <Columns>
        <DxGridDataColumn FieldName="Name" MinWidth="50" />
        <DxGridDataColumn FieldName="Description" MinWidth="80" />
        <DxGridDataColumn FieldName="Status" MinWidth="80" />
        <DxGridDataColumn FieldName="Priority" MinWidth="200" />
        <DxGridDataColumn FieldName="AssignedToId" Caption="AssignedTo" MinWidth="150">
            <EditSettings>
                <DxComboBoxSettings Data="Users" ValueFieldName="Id" TextFieldName="FullName" />
            </EditSettings>
        </DxGridDataColumn>
        <DxGridDataColumn FieldName="CreatedById" Caption="CreatedBy" MinWidth="150">
            <EditSettings>
                <DxComboBoxSettings Data="Users" ValueFieldName="Id" TextFieldName="FullName" />
            </EditSettings>
        </DxGridDataColumn>
        <DxGridDataColumn FieldName="StartAt" Width="10%" MinWidth="80" />
        <DxGridDataColumn FieldName="DueDate" Width="10%" MinWidth="80" />
        <DxGridCommandColumn Width="30px">
            <HeaderTemplate>
                <div class="grid-cell-align-center">
                    <DxButton CssClass="grid-delete-btn"
                            IconCssClass="grid-icon grid-icon-add"
                            RenderStyle="ButtonRenderStyle.Link"
                            aria-label="Add"
                            Click="@(() => Grid.StartEditNewRowAsync())" />
                </div>
            </HeaderTemplate>
            <CellDisplayTemplate>
                <div class="grid-cell-align-center">
                    <DxButton IconCssClass="grid-icon grid-icon-delete"
                              CssClass="grid-delete-btn"
                              RenderStyle="ButtonRenderStyle.Link"
                              aria-label="Delete"
                              Click="@(() => Grid.ShowRowDeleteConfirmation(context.VisibleIndex))" />
                </div>
            </CellDisplayTemplate>
            <CellEditTemplate>
                <div class="grid-cell-align-center">
                    <DxButton Enabled="false"
                              CssClass="grid-disabled-button"
                              IconCssClass="grid-icon grid-icon-delete"
                              aria-label="Delete"
                              RenderStyle="ButtonRenderStyle.Link" />
                </div>
            </CellEditTemplate>
        </DxGridCommandColumn>
        <DxGridCommandColumn Width="30px">
            <CellDisplayTemplate>
                <div class="grid-cell-align-center">
                    <DxButton Text="Formularz"
                              RenderStyle="ButtonRenderStyle.Primary"
                              Click="@(() => { })" />
                </div>
            </CellDisplayTemplate>
        </DxGridCommandColumn>
    </Columns>
</DxGrid>

<ProjectSelection></ProjectSelection>

@code {
    IGrid Grid { get; set; }
    IEnumerable<TaskToDo> DataSource { get; set; }
    List<User> Users { get; set; }
    protected override async Task OnInitializedAsync()
    {
        Users = await TaskService.GetUsersAsync();
        DataSource = await TaskService.GetAllTasksToDoAsync();
    }
    void Grid_CustomizeEditModel(GridCustomizeEditModelEventArgs e)
    {
        if (e.IsNew)
        {
            var newTask = (TaskToDo)e.EditModel;
            newTask.Name = "Nowe Zadanie";
            newTask.ProjectId = 1;
            newTask.CreatedAt = DateTime.UtcNow;
        }
    }
    async Task Grid_EditModelSaving(GridEditModelSavingEventArgs e)
    {
        var editableTask = (TaskToDo)e.EditModel;
        if (e.IsNew)
            await TaskService.AddTaskAsync(editableTask);
        else
            await TaskService.UpdateTaskToDoAsync(editableTask);
        await UpdateDataAsync();
    }
    async Task Grid_DataItemDeleting(GridDataItemDeletingEventArgs e)
    {
        await TaskService.DeleteTaskToDoAsync((TaskToDo)e.DataItem);
        await UpdateDataAsync();
    }
    async Task UpdateDataAsync()
    {
        DataSource = await TaskService.GetAllTasksToDoAsync();
    }

    async Task DoubleClickHandle(GridRowClickEventArgs args)
    {
        
    }
}


